{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe de l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe de l'utilisateur</h1>
        {{form_start(myform)}}

            {{form_widget(myform)}}
            <button type="submit" class="btn btn-warning">Enregistrer la modification du mot passe</button>
        {{form_end(myform)}}
    </div>
{% endblock %}