{% extends "base.html.twig" %}

{% block title %}Inscription au site{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription sur Immoloc</h1>
        {{form_start(myform)}}
            {{form_widget(myform)}}
            <button type="submit" class="btn btn-success">Confirmez l'inscription</button>
        {{form_end(myform)}}
    </div>

{% endblock %}